@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body{font:Nanum Gothic}
*{margin: 0; padding: 0;} a{text-decoration: none; color:inherit;} li{list-style:none;}
img{vertical-align: top;}
ul:after .wrap:after .cl:after{clear:both; content:""; display:block;}
header{ height: 70px; box-shadow{}}
.wrap{ margin: 0 auto; width: 1200px; position: relative;} 

header .snb li{float:left; margin-left: 30px; font-size:14px;}
header .snb{position: absolute; top: 20px; right: 0;}
.snb li:after{content:"|"; margin: 0 6px; }

header .gnb{ position: absolute; top: 18px; right: 300px;}
header .gnb li{float:left; margin-left: 60px; top: 200px; left: 100px;}

.blank{height: 70px;}
#main{background: #f3f2f0;}
#main article{position: absolute; left: 60px; top: 50px; color:#fff;}
#main .slide article h3{font-size:30px; font-weight: 900;}
#main .slide article p{font-size:16px; line-height: 1.6; margin-top: 20px;}
#main .slide article a{width: 190px; line-height: 40px; text-align: center; border:1px solid #fff; margin-top: 40px; display:block; }
#main .slide article a i{position: relative; top: 1px; margin-left: 10px;}
#main .slide article a:hover{background: #fff; color:#000;}

#main .slide ul{display:flex; justify-content:center; position: absolute; left: 0;
bottom: 30px; width: 100%;}

#main .slide ul li{margin: 0 5px;}
#main .slide ul li a{width: 12px; height: 12px; background: fff; border-radius:12px; display:block; text-indent: 30px; overflow:hidden;}
#main .slide ul li.select a{background: #000;}

#main .slide > a{position: absolute; top:calc(50% - 12px);}
#main .slide .prev{left: -30px;}
#main .slide .next{left: -30px;}

#main .go{background: #ccc; margin-top: 40px;}
main .go ul li{float:left; width: 299px; }

#center{background: #e9e5e4;}
#center h2{font-weight: 900; font-size:30px; line-height: 120px;}
#center ul li{float:left; width: 300px; background: #fcf;}
#center ul li a{display:block; height: 300px; font-weight: bold;}

#loc{padding: 80px 0 20px;}
#loc ul li{float:left; width: 300px; margin-right: 30px;}
#loc ul li:last-child{margin-right: 0;}
#loc ul li a p{line-height: 60px; font-weight: bold; padding: 0 6px;}
#loc .wrap > a{position: absolute; width: 46px;}

footer {background: #009; color:#ccc;}